:host {
  display: block;
  width: 100%;
  height: 100%;
}

.avatar-renderer {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.avatar-renderer svg {
  width: 100%;
  height: 100%;
  display: block;
}
